$tablet: 768px;
$laptop: 1025px;
$pc: 1660px;

//Colors
$primaryPink: rgba(192, 56, 92, 0.44);
$secondary: #a2c55e;
$secondaryLightPink: #f0c4c8;
$secondaryPink: #c0385c;
$black: #191919;
$white: #f6f7f6;

// Animation

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
