$tablet: 768px;
$laptop: 1025px;
$pc: 1660px;

//Colors
$primaryPink: rgba(192, 56, 92, 0.44);
$secondary: #a2c55e;
$secondaryLightPink: #f0c4c8;
$secondaryPink: #c0385c;
$black: #191919;
$white: #f6f7f6;

// Animation

//Fonts
